# ┃ Outputs
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## Builds
**/bin
**/obj
**/target
**/dist
**/.parcel-cache

## Java jar files
*.jar

## Package files
*.zip
*.rar
*.tar.gz

## Generated data
**/data

## NodeJS
**/node_modules

## Spring server configuration
**/application.yml

# ┃ Environment Variables
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## Docker and other environment file
.env

# ┃ Generated Workspaces
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## Visual Studio Code
.vscode

### Visual Studio Code (Java)
.project
.settings
.classpath

## IntelliJ
.idea
*.iml

# ┃ System Files
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## macOS
.DS_Store
*.icloud
.AppleDouble
.LSOverride

## Windows
$RECYCLE.BIN/
*.lnk
